.mx-rich-text {
  // h5
  img,
  image {
    // 未指定宽度的图片拉伸到最大，覆盖微信小程序默认 320px 宽度
    width: 100%;
    max-width: 100%;
  }

  // h5
  ol,
  ul {
    margin-left: 1rem;
  }

  .h5-p {
    margin: 0;
  }
}
